@media only screen and (max-width: 960px){

  .main-title{
    h1 {font-size:2rem;}

    h6 {font-size:0.6rem;}
  }

  .header-navigation nav ul li {
    margin-top: 1%;

    a {
      padding: 0px 3px;
      font-size: 0.7rem;
    }
  }

  .slideshow {margin-left: 44.7%;}
  .section-2-message p {font-size: 1.3rem;}
  .screen-medium {
    margin-top: 1%;
    width: 50%;}
  .box-1 {margin-left:0%;}
  .box-2 {margin-left: 13%;}
  .box-3 {margin-left: 0%;}
  .box-4 {margin-left: 13%;}
  .first-content-column {margin-left: 0%;}
  .second-content-column {padding-left: 15%;}
  .screen-100 {width: 100%;}
  .about-the-company {margin-left: -3.3%;}

  .connect-with-us {

    p{margin-top: 60%;}

    a {
        img{margin-top: 10%;} }

  }


}


@media only screen and (max-width: 640px){

  .main-title{
    h1 {font-size:1.7rem;}

  h6 {font-size:0.5rem;}
  }

  .header-navigation nav ul {

    margin-bottom: 1%;

    li a {
      padding: 0px 3px;
      font-size: 0.5rem;
    }
  }
  .slideshow {margin-left: 41%;}
  .section-2-message p {font-size: 0.9rem;}
  .screen-small {
    margin-top: 1%;
    width: 100%;}
  .box-1 {margin-left: 9%;}
  .box-2 {margin-left: 9%;}
  .box-3 {margin-left: 9%;}
  .box-4 {margin-left: 9%;}
  .first-content-column {padding-left: 10%;}
  .title-body-content {margin-top: 6%;}
  .second-content-column {padding-left: 10%;}
  .screen-100 {width: 100%;}
  .about-the-company {margin-left: -3.3%;}
  .line {width: 25%;}

  .connect-with-us {
    p{margin-top: 14%;}

    a {
      img{
        margin-top:0%;
        margin-left: 0%;
         }
    }

  }

  .last-part-of-content {margin-left: 5%;}

}